body{
	font-family: 'Cormorant Garamond', serif;
}

p{
	font-size: 20px;
}

.header-wrapper{
	width:90%;
	margin:auto;
}

.subscribe-form {
	font-size: 0px;
	width:90%;
	margin:auto;
}

.subscribe-form input{
	height:40px;
	width:65%;
	font-size : 17px;
	border-width: 3px;
}

.subscribe-form button{
	width:35%;
}

.main-logo{
	width:90%;
	margin:auto;
	margin-top:50px;
}

.main-gif{
	width:100%;
	margin-top:50px;
	border-left: 4px solid black;
	border-right: 4px solid black;
}

.gif-subtitle{
	text-align: center;
}

.made-in{
	margin-bottom:10px;
	text-align: center;
	font-size: 20px;
}

.icon-inima{
	color:#1B5E20;
	transition:color .3s;
}

.icon-inima:hover{
	color:red;
}

.steps .informative-text{
	margin:auto;
	width:80%;
}

.steps .informative-text div{
	min-height: 250px;
}

.steps .informative-text img{
	width:80%;
	margin-left:10%;}

.contact-form-wrapper{
	margin:auto;
	width:80%;
}
.contact-form label{
	font-size: 18px;
	width: 100px;
}

.contact-form button{
	margin-left: 80%;	
}

.contact-info-wrapper{
	width: 90%;
	margin: auto;
}

button{
	width: 100px;
	height: 40px;

	color: white;
	background-color : #1B5E20;

	font-size: 17px;
	
	border: 0px;
}

.contact-form input{
	height:40px;
	border-width: 2px;
}

.contact-form input, textarea{
	width: 80%;
	padding-left: 5px;
	padding-top: 5px;
	border-width: 3px;

	font-size: 18px;
}


hr{
	margin-top: 50px;
	margin-bottom: 20px;
}

